# Midnight Network Configuration (undeployed | preview | preprod)
MIDNIGHT_NETWORK=undeployed

# Contract Address (generated during setup / deploy)
VITE_CONTRACT_ADDRESS=849625dc40c812bf8f1b2e09da66fc73c829363e49a30c6b83e130bd8a33fd54

# Infrastructure Endpoints
VITE_PROOF_SERVER_URL=http://127.0.0.1:6300
VITE_INDEXER_URL=http://127.0.0.1:8088
VITE_NODE_RPC_URL=http://127.0.0.1:9944

# Private State Storage Security
PRIVATE_STATE_PASSWORD=Local-Devnet-Development-Placeholder-1
