# Midnight Network Configuration (undeployed | preview | preprod)
MIDNIGHT_NETWORK=undeployed

# Contract Address (generated during setup / deploy)
VITE_CONTRACT_ADDRESS=8a2a07bd90dcd7777c0b9a7257e1c98e12dc785eb1df31ee79b8d990f41ec7a0

# Infrastructure Endpoints
VITE_PROOF_SERVER_URL=http://127.0.0.1:6300
VITE_INDEXER_URL=http://127.0.0.1:8088
VITE_NODE_RPC_URL=http://127.0.0.1:9944

# Private State Storage Security
PRIVATE_STATE_PASSWORD=Local-Devnet-Development-Placeholder-1
